.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body{
  background-color: #EAEBEF;
}

/*
color
#35C5F0;
#FFFFFF;
#292929;
#DBDBDB; (input)
#EAEBEF; (hr)
#757575; (etc)
*/

/*Header.js*/
.header{
  width: 635px;
  height: 112px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
}

.logo{
  width: 89.42px;
  height: 31px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
}

/*Form.js*/
.form-frame{
  width: 635px;
  height: 600px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form{
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 600px;
  background-color: #FFFFFF;
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  /* line-height: 24.2px; */
}

.check-member{
  width: 360px;
  display: flex;
  justify-content: center;
}

.check-member a:link {
  color : black;
}

.check-member a:visited {
  color : black;
}
.check-member a:hover {
  color : red;
}
.check-member a:active {
  color : green
}

.font-20{
  font-size: 20px;
}

/*Email.js*/
.form-email{
  width: 359px;
  display: flex;
  flex-direction: column;
}

.email-input{
  height: 40px;
  border-radius: 5px;
  border-color: #DBDBDB;
}