/*Header.js*/
.header-whole{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  border: solid lightgray;
  border-width: 0 0 1px;
}

.header-menubar{
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-menubar-left{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menubar-left-button{
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  font-family: inter;
}

.header-menubar-left-button:hover{
  cursor: pointer;
}

.header-menubar-right{
  width: 60%; 
  display: flex;
  align-items: center;
}

.header-menubar-right-input{
  width: 320px;
  height: 35px;
  margin-left: 40px;
  margin-right: 10px;
}

.mini-icon{
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-menubar-right-button{
  width: 100px;
  height: 43px;
  background-color: #35C5F0;
  border-color: #35C5F0;
  color: white;
  border-radius: 5px;
  border-width: 0.3px;
  font-size: 15px;
}

/* SecondHeader.js */

.second-header-whole{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid lightgray;
  border-width: 0 0 1px;
}

.second-header-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  height: 35px;
}

.second-header-button{
  width: 85px;
  height: 30px;
  background-color: transparent;
  border: none;
  font: inter;
  font-size: 18px;
  font-weight: 700;
}

.second-header-button:hover{
  cursor: pointer;
}

.third-whole{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third-header-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 650px;
  height: 35px;
}

.third-header-button{
  width: 85px;
  height: 30px;
  background-color: transparent;
  border: none;
  font: inter;
  font-size: 16px;
  font-weight: 700;
}

.third-header-button:hover{
  cursor: pointer;
}

.profile-main{
  display: flex;
  justify-content: main;
  width: 75%;
  height: 100%;
}

.profile-main-left{
  width: 35%;
  padding-top: 2%;
}

.my-profile{
  width: 285px;
  height: 460px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-profile-upside{
  margin-top: 15px;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profile-main-right{
  width: 65%;
  padding-top: 3%;
}

.main-profile-icon{
  width: 130px;
  height: 130px;
}

.profile-name{
  font-size: 26px;
  font-weight:700;
}

.profile-follow{
  display: flex;
  width: 120px;
  justify-content: space-between;
}

.setting-button{
  width: 60px;
  height: 34px;
  border-radius: 5px;
  border-width: 0.3px;
}

.input-div{
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
}

.input-file{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
  height: 200px;
  border: 1px dashed;
  margin-top: 2%;
  margin-bottom: 10%;
}