/*Header.js*/
.header-whole{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  border: solid lightgray;
  border-width: 0 0 1px;
}

.header-menubar{
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-menubar-left{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heder-image{
  width: 23px;
  height: 23px;
}

.header-menubar-left-button{
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  font-family: inter;
}

.header-menubar-left-button:hover{
  cursor: pointer;
}

.header-menubar-right{
  width: 60%; 
  display: flex;
  align-items: center;
}

.header-menubar-right-input{
  width: 320px;
  height: 35px;
  margin-left: 40px;
  margin-right: 10px;
  text-indent: 35px;
  background: url(../public/search.png) no-repeat 10px center;
  background-size: 20px;
  border-width: 0.3px;
}

.mini-icon{
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-menubar-right-button{
  width: 100px;
  height: 43px;
  background-color: #35C5F0;
  border-color: #35C5F0;
  color: white;
  border-radius: 5px;
  border-width: 0.3px;
  font-size: 15px;
}

/* SecondHeader.js */

.second-header-whole{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid lightgray;
  border-width: 0 0 1px;
}

.second-header-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  height: 35px;
}

.second-header-button{
  width: 85px;
  height: 30px;
  background-color: transparent;
  border: none;
  font: inter;
  font-size: 18px;
  font-weight: 700;
}


.second-header-button:hover{
  cursor: pointer;
}

.third-whole{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third-header-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 650px;
  height: 35px;
}

.third-header-button{
  width: 85px;
  height: 30px;
  background-color: transparent;
  border: none;
  font: inter;
  font-size: 16px;
  font-weight: 700;
}

.third-header-button:hover{
  cursor: pointer;
}

.profile-main{
  display: flex;
  justify-content: main;
  width: 75%;
  height: 100%;
}

.profile-main-left{
  width: 35%;
  padding-top: 2%;
}

.my-profile{
  width: 285px;
  height: 460px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-profile-upside{
  margin-top: 15px;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profile-main-right{
  width: 65%;
  padding-top: 3%;
}

.main-profile-icon{
  width: 130px;
  height: 130px;
}

.my-profile-scrap{
  width: 30px;
  height: 30px;
  background-image: url(../public/profile_scrap.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: top center;
  border: none;
  background-color: transparent;
}

.my-profile-scrap:hover{
  cursor: pointer;
}

.my-profile-like{
  width: 30px;
  height: 30px;
  background-image: url(../public/profile_like.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: top center;
  border: none;
  background-color: transparent;
}

.my-profile-like:hover{
  cursor: pointer;
}

.my-profile-coupon{
  width: 30px;
  height: 30px;
  background-image: url(../public/profile_coupon.png);
  background-repeat: no-repeat;
  background-size: 30px;
  border: none;
  background-position: top center;
  background-color: transparent;
}

.my-profile-coupon:hover{
  cursor: pointer;
}

.profile-name{
  font-size: 26px;
  font-weight:700;
}

.profile-follow{
  display: flex;
  width: 120px;
  justify-content: space-between;
}

.setting-button{
  width: 60px;
  height: 34px;
  border-radius: 5px;
  border-width: 0.3px;
  background-color: #FFFFFF;
}

.setting-button:hover{
  cursor: pointer;
}

.input-div{
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
}

.input-file{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
  height: 200px;
  border: 1px dashed;
  margin-top: 2%;
  margin-bottom: 10%;
}

.my-profile-downside{
  height: 35%;
  display: flex;
  width: 100%;
  justify-content: center;
}

.downside-button{
  display: flex;
  width: 200px;
  justify-content: space-around;
}

.my-profile-icon{
  width: 30px;
  height: 25px;
}

/*fourth.js*/

.forth-whole{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fourth-header-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  height: 35px;
}

.fourth-header-button{
  width: 300px;
  height: 30px;
  background-color: transparent;
  border: none;
  font: inter;
  font-size: 16px;
  font-weight: 700;
}

.fourth-header-button:hover{
  cursor: pointer;
}

.member-edit{
  display: flex;
  margin-top: 3%;
  width: 70%;
  border: 1px solid lightgray;
  padding: 3% 3% 3% 3%;
}

.member-edit-left{
  width: 50%;
}

.member-edit-header{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10%;
}

.profile-text{
  margin-right: 3%;
}

.member-edit-email{
  display: flex;
  align-items: center;
  margin-bottom: 7%;
}

.memver-edit-email-input{
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-info{
  font-size: 13px;
  color: gray
}

.email-text{
  margin-right: 8%;
}

.email-inputtag{
  width: 190px;
  height: 30px;
  border-radius: 3px;
  border-width: 0.3px;
}

.text{
  color: gray;
}

.nickname-inputtag{
  width: 400px;
  height: 30px;
  border-radius: 3px;
  border-width: 0.3px;
}

.member-edit-right{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}

.test{
  display: flex;
  justify-content: right;
}

.withdrawal{
  width: 70px;
  height: 17px;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: red;
}

.withdrawal:hover{
  cursor: pointer;
}

.edit-button{
  width: 130px;
  height: 43px;
  background-color:#35C5F0;
  color: #FFFFFF;
  border-radius: 5px;
  border-width: 0px;
  font-size: 15px;
  font-weight: 700;
}

.edit-button:hover{
  cursor: pointer;
}