/*Header.js*/
.header-whole{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
}

.header-menubar{
  width: 75%;
  height: 100%;
  background-color: aqua;
  display: flex;
  align-items: center;
}

.header-menubar-left{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menubar-left-button{
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  font-family: inter;
}

.header-menubar-left-button:hover{
  cursor: pointer;
}

.header-menubar-right{
  /* width: 70%;  */
  width: 60%; 
  display: flex;
  align-items: center;
}

.header-menubar-right-input{
  width: 320px;
  height: 35px;
  margin-left: 40px;
  margin-right: 10px;
}

.mini-icon{
  width: 100px;
  display: flex;
  justify-content: space-around;
}

.header-menubar-right-button{
  width: 100px;
  height: 43px;
  background-color: #35C5F0;
}